<div class="card" style="background-color: tomato;">
    <h5 class="card-header">{{currentUser.name | uppercase}}</h5>
    <div class="card-body">
      <h5 class="card-title"><h3>Welcome {{currentUser.name | uppercase}} ({{currentUser.username}}) to FoodBox!</h3></h5>
          
      <div>
          <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Food Name</th>
                  <th scope="col">Restaurant Name</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of foods">
                      <th scope="row" >
                              {{item.fid}}
                      </th>
                      <td>
                              {{item.name}}
                      </td>
                      <td>
                              {{item.restaurant.name}}
                      </td>
                      <td>
                              {{item.qty}}
                      </td>
                      <td>
                              {{item.price}}
                      </td>
                    </tr>
                </tbody>
            </table>
          <hr/>  
        </div>

    </div>
</div>



<div class="row" style="padding-top:25px;">
    <br>
<br>
<br>
    <div class="col-md-4 offset-md-4">
        <div class="guest-form-card card">
            <div class="card-header text-center" style="background-color: rgba(80, 255, 217, 0.699);;">
                <h3>Enter Details Here</h3>
            </div>
            <div class="card-body" style="background-color:firebrick;">
                <form #loginForm="ngForm" (ngSubmit)="placeOrder()">
                    <div class="form-group">
                        <label for="address"><h3>Address</h3></label>
                        <textarea id="address" name="address" class="form-control" [ngClass]="{'is-invalid': address.touched && address.invalid}" #address="ngModel" [(ngModel)]="order.address" required ></textarea>
                        <span class="invalid-feedback">Username can't be blank</span>
                    </div>

                    <div class="form-group">
                        <label for="email"><h3>Email</h3></label>
                        <input id="email" name="email" class="form-control" [ngClass]="{'is-invalid': email.touched && email.invalid}" #email="ngModel" [(ngModel)]="order.email" required />
                        <span class="invalid-feedback">Username can't be blank</span>
                    </div>

                    <div class="form-group">
                        <label for="pincode"><h3>pincode</h3></label>
                        <input id="pincode" name="pincode" class="form-control" [ngClass]="{'is-invalid': pincode.touched && pincode.invalid}" #pincode="ngModel" [(ngModel)]="order.pincode" required />
                        <span class="invalid-feedback">Username can't be blank</span>
                    </div>

                    <div class="form-group">
                        <label for="card"><h3>Card Details</h3></label>
                        <input type="number" id="card" name="card" class="form-control" #card="ngModel" [(ngModel)]="order.card" required />
                        <span class="invalid-feedback">Username can't be blank</span>
                    </div>
                
                    <div class="form-group">
                        <label for="confirmCard"><h3>Confirm Card Details</h3></label>
                        <input type="number" type="password" id="confirmCard" name="confirmCard" class="form-control"/>
                        <span class="invalid-feedback">Password can't be blank</span>
                    </div>

                    <button class="btn btn-info btn-block" [disabled]="loginForm.invalid"><h6>Proceed to Pay:)</h6></button>
                </form>
            </div>
        </div>
    </div>
</div>

