<div class="login-background " style="background:url(https://c4.wallpaperflare.com/wallpaper/869/719/717/cuisine-food-india-indian-wallpaper-preview.jpg)">
<div class="container">
  <div class="card card-container">
    <div class="card-header">
      <h5>Login as Administrator</h5>
    </div>
    <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" id="profile-img" class="profile-img-card"/>
    <form name="form-signup" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <div class="form-group" [ngClass]="{'has-error':f.submitted &&!name.valid}">
        <label for="name">Full Name</label>
        <input type="text" name="name" class="form-control input-text-custom" id="name" [(ngModel)]="user.name" #name="ngModel" required/>
        <div class="alert alert-danger" *ngIf="f.submitted && !name.valid">
          Full name is required.
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':f.submitted &&!username.valid}">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control input-text-custom" id="username" [(ngModel)]="user.username" #username="ngModel" required/>
        <div class="alert alert-danger" *ngIf="f.submitted && !username.valid">
          A valid username is required.
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':f.submitted &&!password.valid}">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control input-text-custom" id="password" [(ngModel)]="user.password" #password="ngModel" required/>
        <div class="alert alert-danger" *ngIf="f.submitted && !password.valid">
          Password is required.
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin form-submit-button">Sign Up</button>
    </form>
    <a [routerLink]="['/login']" class="btn btn-link">I have an Account!</a>
  </div>
</div>
</div>
