<app-jumbotron></app-jumbotron>
<div class="container-xl">
    <div class="row">
<div class="col-xl-4">
<div class="card w-100" style="background-color: burlywood;">
    <div class="card-body">
<h2>Food</h2>
<p class="text-justify"> Food is any substance consumed to provide nutritional support for an organixl. Food is usually of plant or animal origin, and contains essential nutrients, such as carbohydrates, fats, proteins, vitamins, or minerals.</p>
</div></div></div>
<div class="col-xl-4">
<div class="card" style="background-color: burlywood;">
    <div class="card-body">
<h2>Food History</h2>
<p class="text-justify">Historically, humans secured food through two methods: hunting and gathering and agriculture, which gave modern humans a mainly omnivorous diet. Worldwide, humanity has created numerous cuisines and culinary arts, including a wide array of ingredients, herbs, spices, techniques, and dishes.</p>
</div></div></div>
<br />
<div class="col-xl-4">
<div class="card" style="background-color: burlywood;">
    <div class="card-body">
<h2>Balances Diet</h2>
<p class="text-justify">The right to food is a human right derived from the International Covenant on Economic, Social and Cultural Rights (ICESCR), recognizing the "right to an adequate standard of living, including adequate food", as card as the "fundamental right to be free from hunger"</p>
</div></div></div>
</div>
</div>
