 <div class="d-flex align-items-center p-3 px-sm-4">
    <h5 class="my-0 mr-md-auto font-weight-bold">
        <app-header></app-header>
    </h5>
    <nav class="navbar navbar-expand-lg">
      <div  >
        <a  [routerLink]="''"><h5>Home</h5></a>
      </div>
      <span>
        <p>
          &nbsp; &nbsp; &nbsp;
        </p>
      </span>
      <div  >
        <a  [routerLink]="'/about'"><h5>About</h5></a>
       
      </div>
      <span>
        <p>
          &nbsp; &nbsp; &nbsp;
        </p>
      </span>

      <div   *ngIf="!loggedin">
      <a   [routerLink]="'/login'"><h5>Login</h5></a>
      </div>
      <span>
        <p>
          &nbsp; &nbsp; &nbsp;
        </p>
      </span>
      <div   *ngIf="!loggedin">
        <a [routerLink]="'/register'"><h5>Sign up</h5></a>
      </div>
      <div   *ngIf="loggedin">
        <a [routerLink]="'/summary'"><h5>My Order</h5></a>
      </div>
      <span>
        <p>
          &nbsp; &nbsp; &nbsp;
        </p>
      </span>
      <a [routerLink]="'/foodbox'" *ngIf="loggedin" ><h5>{{currentUser.name | uppercase}}</h5></a>
      <span>
        <p>
          &nbsp; &nbsp; &nbsp;
        </p>
      </span>
      <div class="btn-group" *ngIf="loggedin">
        <button type="button" class="alert alert-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>

        <div class="dropdown-menu" *ngIf="isAdmin">
          <a class="dropdown-item" [routerLink]="'/addrestaurant'">Add Restaurant</a>
          <a class="dropdown-item" [routerLink]="'/addfood'">Add Food</a>
          <a class="dropdown-item" [routerLink]="'/editrestaurant'">Edit Restaurant</a>
          <a class="dropdown-item" [routerLink]="'/profile'">Profile</a>
          <div class="dropdown-divider"></div>
          <button type="button" (click)="logOut()" class="btn btn-success">Logout</button>
        </div>
        
        <div class="dropdown-menu" *ngIf="!isAdmin">
          <a class="dropdown-item" [routerLink]="'/summary'">My Order</a>
          <a class="dropdown-item" [routerLink]="'/profile'">Profile</a>
          <div class="dropdown-divider"></div>
          <button type="button" (click)="logOut()" class="btn btn-success">Logout</button>
        </div>
        </div>
      </nav>
  </div>