<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/x/w/p4514-15348455525b7be27055ac0.jpg?tr=tr:n-xlarge" class="d-block w-100" alt="Welcome to FoodBox">
      </div>
      <div class="carousel-item">
        <img src="https://bulletinline.com/wp-content/uploads/2019/12/food7.jpg" class="d-block w-100" alt="Welcome to FoodBox">
      </div>
      <div class="carousel-item">
        <img src="https://i2-prod.manchestereveningnews.co.uk/incoming/article17872387.ece/ALTERNATES/s1200b/0_EN_050320_Nandos_is_hiring_staff_Walkden_restaurant_17872329.jpg" class="d-block w-100" alt="Welcome to FoodBox">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>