<div class="card">
    <h5 class="card-header">{{currentUser.name}}</h5>
    <div class="card-body">
      <h5 class="card-title">Welcome {{currentUser.name}} ({{currentUser.username}}) to FoodBox!</h5>
      <div *ngIf="cartItems.length === 0" class="alert alert-info">
        Your Cart is Empty
      </div>
      
      <div *ngIf="cartItems.length > 0">
          <table class="table table-hover" style="background-color: tomato;">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Food Name</th>
                  <th scope="col">Restaurant Name</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of foods">
                      <th scope="row" >
                              {{item.fid}}
                      </th>
                      <td>
                              {{item.name}}
                      </td>
                      <td>
                              {{item.restaurant.name}}
                      </td>
                      <td>
                              {{item.qty}}
                      </td>
                      <td>
                              {{item.price}}
                      </td>
                    </tr>
                </tbody>
            </table>
          <hr/>
          <div class="cart-footer"><a class="btn btn-success btn-lg" [routerLink]="'/cart'">Cart Total: {{cartTotal | currency:'INR'}}</a> 
              <div style="float: right;">
                  <a [routerLink]="'/order'" class="btn btn-warning btn-lg btn-block">Place Order</a>
              </div> 
          </div>  
        </div>
    </div>
  </div>