<div class="login-background " style="background:url(https://c4.wallpaperflare.com/wallpaper/869/719/717/cuisine-food-india-indian-wallpaper-preview.jpg)">
<div class="container-xl">
<div class="row">

    <div class="col">
        <div class="guest-form-card card" style="background-color: tomato;">
            <div class="card-header text-center" style="color: black;">
                <h2>Add Restaurant</h2>
            </div>
            <div class="card-body"  >
                <form #loginForm="ngForm" (ngSubmit)="addRestaurant()">

                    <div class="form-group" style="color:black" >
                        <label for="name"><h3>Name</h3></label>
                        <input id="name" name="name" class="form-control" [ngClass]="{'is-invalid': name.touched && name.invalid}" #name="ngModel" [(ngModel)]="restaurant.name" required />
                        <span class="invalid-feedback">Name can't be blank</span>
                    </div>

                    <div class="form-group" style="color:black">
                        <label for="address"><h3>Address</h3></label>
                        <textarea id="address" name="address" class="form-control" [ngClass]="{'is-invalid': address.touched && address.invalid}" #address="ngModel" [(ngModel)]="restaurant.address" required ></textarea>
                        <span class="invalid-feedback">Address can't be blank</span>
                    </div>

                    <div class="form-group" style="color:black">
                        <label for="city"><h3>City</h3></label>
                        <input id="city" name="city" class="form-control" [ngClass]="{'is-invalid': city.touched && city.invalid}" #city="ngModel" [(ngModel)]="restaurant.city" required />
                        <span class="invalid-feedback">City can't be blank</span>
                    </div>

                    <div class="form-group" style="color:black">
                        <label for="state"><h3>State</h3></label>
                        <input id="state" name="state" class="form-control" [ngClass]="{'is-invalid': state.touched && state.invalid}" #state="ngModel" [(ngModel)]="restaurant.state" required />
                        <span class="invalid-feedback">State can't be blank</span>
                    </div>

                    <div class="form-group" style="color:black">
                        <label for="speciality"><h3>Speciality</h3></label>
                        <textarea id="speciality" name="speciality" class="form-control" [ngClass]="{'is-invalid': speciality.touched && speciality.invalid}" #speciality="ngModel" [(ngModel)]="restaurant.speciality" required ></textarea>
                        <span class="invalid-feedback">Address can't be blank</span>
                    </div>
                
                    <div class="form-group" style="color:black">
                        <label for="description"><h3>Description</h3></label>
                        <textarea id="description" name="description" class="form-control" [ngClass]="{'is-invalid': description.touched && description.invalid}" #description="ngModel" [(ngModel)]="restaurant.description" required ></textarea>
                        <span class="invalid-feedback">Description can't be blank</span>
                    </div>

                    <div class="form-group" style="color:black">
                        <label for="image"><h3>Image Url</h3></label>
                        <input id="image" name="image" class="form-control" [ngClass]="{'is-invalid': image.touched && image.invalid}" #image="ngModel" [(ngModel)]="restaurant.image" required />
                        <span class="invalid-feedback">Image can't be blank</span>
                    </div>

                    <button class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Add Restaurant</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col">
        <div>
            <table class="table table-hover" style="background-color: blanchedalmond;">
              <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Image</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of restaurants">
                        <th scope="row" >
                                {{item.rid}}
                        </th>
                        <td scope="col">
                                {{item.name}}
                        </td>
                        <td scope="col">
                                {{item.city}}
                        </td>
                        <td scope="col">
                                {{item.state}}
                        </td>
                        <td scope="col" colspan="2">
                            <img class="bd-placeholder-img card-img-top p-2" width="50" height="100" [src]="item.image"/> 
                        </td>
                        <td></td>
                      </tr>
                  </tbody>
              </table>
            <hr/>  
          </div>
    </div>
</div>
</div>
</div>